@import url("https://fonts.googleapis.com/css2?family=Raleway");

* {
    background-color: #faf6f1;
    font-family: "Raleway";
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.title {
    align-self: center;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: #6D6875;
    color: transparent;
    text-shadow: 0px 0px 3px #84A59D;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

}

h3 {
    align-self: center;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #F28482;
    font-style: italic;
      font-size: 20px;
}

label {
    width: 100%;
}

input{
    background-color: #FFB4A2;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 8px;
    border: 2px solid #F28482;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    
}

input:focus {
    border: 5px solid #F6BD60;
    outline: none!important;
}

::placeholder {
    color: #faf6f1;
    text-align: center;
}

button {
    margin-top: 5px;
    align-self: center;
    background-color: #F28482;
    color: #ffffff;
    border: 1px none;
    border-radius: 18px;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: 600;
}

.signup-login {
    align-self: center;
    text-align: center;
    color: #F28482;
}


a:link {
    color: #84A59D;
  }
  
a:hover {
    color: #F6BD60;
  }

  .Todo {
    background-color: #faf6f1;
    margin: 0;
    height: 100vh;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .todo-body {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .user-info {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  .logout-button {
    position: absolute;
    z-index: 1;
    padding-top: 10px;

    @media screen and (max-width: 500px) {
        padding: 8px 10px;
    }
  }